* {
	margin: 0;
	padding: 0;
}

p {
	padding: 20px;
}

#main {
	margin: auto;
	padding: 20px;
	width: 90%;
	height: 500px;
	background-color: rgb(200 200 200);
}

#input-box {
	padding: 20px;
	margin: 10px;
	width: 40%;
	display: inline;
	float: left;
	background-color: red;
}

#output-box {
	padding: 20px;
	margin: 10px;
	width: 40%;
	display: inline;
	float: left;
	background-color: red;
}

#button {
	margin: auto;
	padding: 20px;
	width: 50%;
	text-align: center;
	clear: both;
}

#answer-box {
	padding: 20px;
	margin: 10px;
}

.btn {
	padding: 15px 50px;
	border: 2px solid red;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
}